<!DOCTYPE html>
<html>
<head>
    <title>Invocations of Greatness: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
        @RenderBody()
    
    <footer>
        <h3>So begins a new age of knowledge!</h3>
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>