@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Invocations of Greatness</h1>
    <p>More soon to come! Check back later for some games.</p>
</div>
