@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Invocations of Greatness</h1>
    <form>
        <label for="charactername">Character Name:</label><br />
        <input type="text" id="charactername" name="charactername" /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
